{% extends 'index.html' %}
{% block title %}
    <title>market</title>
{% endblock %}
{% block content %}
<table>
    <tr>
          <th scope="col">id</th>
          <th scope="col">name</th>
          <th scope="col">barcode</th>
          <th scope="col">price</th>
          <th scope="col">options</th>
    </tr>
    {% for product in products %}
        <tr>
            <th>{{ product.id }}</th>
            <th>{{ product.name }}</th>
            <th>{{ product.barcode }}</th>
            <th>{{ product.price }}$</th>
            <th>
                <button class="btn btn-outline btn-info">More Info</button>
                <button class="btn btn-outline btn-success">Purchase</button>
            </th>
        </tr>
    {% endfor %}
</table>
{% endblock %}

